body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
#first-div{
    padding-left: 60px;
}
.half-width{
    padding: 20px 40px;
    width: 40%;
}
.flexible-container{
    display: flex;
    padding-top: 50px;
}
section .half-width{
    width: 50%;
    padding-left: 5px;
}
.half-width img{
    width: 90%;
}
.anchor{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-site{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-site{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 300px;
    margin-bottom: 100px;

}
.last-site{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#developer-experience{
    border-left: 5px solid;
    border-image: linear-gradient(salmon, hsl(0, 23%, 52%));
    border-radius: 3px;
    border-image-slice: 1;
}
#stack-experience{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-radius: 3px;
    border-image-slice: 1;

}
.last-site h1{
    margin-left: 20px;
    margin-top: 20px;
}
footer p{
    text-align: center;
}